body 
{
    margin: 0;
    padding: 0;
    background-color: #FF8615;
}

.header
{
    height: 3em;
    padding: 10px 50px;
    width: 100%;
    background-color: white;

    display: inline-flex;
}

.header > *
{
    padding: 0px 10px;
}

.header > button
{
    position: relative;
    float: left;
}

.ChannelListContainer
{
    display: inline-flex;
    width: 18.5rem;
    background-color: #36393e;
}

.sidebar
{
    width: 25%;
    background-color: #1e2124;
    height: 100%;
}

/* home icon */
.sidebar_home-icon
{
    padding: 10px;
}

.home-icon_inner
{
    background-color: #424549;
    border-radius: 30px;
    transition: background-color 0.2s ease;
    transition: border-radius 0.2s ease;
}

.home-icon_inner:hover
{
    background-color: #FF8615;
    border-radius: 15px;
}
.home-icon_inner img 
{
    width: 100%;
    padding-top: 3px;
}

/* logout icon */
.sidebar_logout-icon
{
    padding: 10px;
}

.logout-icon_inner
{
    background-color: #424549;
    border-radius: 30px;
    transition: background-color 0.2s ease;
    transition: border-radius 0.2s ease;
}

.logout-icon_inner:hover
{
    background-color: #FF8615;
    border-radius: 15px;
}
.logout-icon_inner img 
{
    width: 75%;
    padding-top: 9px;
    padding-left: 9px;
}

/* Main app */

.MainApp
{
    height: 100vh;
    width: 100%;
    display: inline-flex;
}

/* friends list */

.friends_list
{
    width: 75%;
}

.friends_list_title
{
    text-align: center;
    padding: 1em;
    color: 	#a8aeb8;
}

.friends_elem
{
    margin: 0.3125em 0.9375em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.625em;
    height: 2em;
    width: auto;
    text-align: left;
    color: 	#a8aeb8;
    font-size: 1.1em;
    border-radius: 7px;
}

.friends_elem:hover
{
    background-color: #424549;
}

.main_container
{
    width: 85%;
    background-color: rgb(158, 53, 53);
}

.message_text_input
{
    width: 80%;
}

.message_text_input
{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.message_text_input input
{
    width: 80%;
}

.message_container ul  
{
    height: 85vh;
    overflow:hidden; 
    overflow-y:scroll;
}