body 
{
    margin: 0;
    padding: 0;
    background-color: #36393e;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
}


#main-app
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ||||||||||||||||||||||||| */
/*      Header Page          */
/* ||||||||||||||||||||||||| */

.header
{
    height: 3em;
    padding: 1em 14.125em;
    background-color: #1e2124;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header > *
{
    padding: 0px 10px;
}

.header a
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header  button
{
    position: relative;
    background-color: white;
    border: none;
    border-radius: 15px;
    height: 2.125em;
    width: 6em;
    font-size: 16px;
}

.header  button a 
{
    color: #1e2124;
    font-family: Arial, Helvetica, sans-serif;
}

#header-login-button
{
    margin-left: auto;
}

@media screen and (max-width: 750px) {
    .header  button
    {
        position: relative;
        background-color: white ;
        border: none;
        border-radius: 10px;
        width: 5em;
        height: 3.125em;
        font-size: 16px;
    }

    #header-login-button
    {
        margin-left: auto;
        margin-right: 1rem;
    }

    .header 
    {
        padding: 1rem;
    }
}

/* ||||||||||||||||||||||||| */
/*      Home Page          */
/* ||||||||||||||||||||||||| */
#Home-page
{
    display: flex;
    flex-direction: column;
}

#Home-page p 
{
    font-weight: 0;
}

.home-page-container-1
{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #36393e;
    padding: 1em 0px 1em 0em;
    /* margin-left: auto; */
}

.home-page-container-1 *
{
    padding: 0px 6em 0px 6em;
}

.home-page-container-2
{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #424549;
    padding: 1em 0px 1em 0em;
}

.home-page-container-2 *
{
    padding: 0px 6em 0px 6em;
}

/* setting for phones */

@media only screen and (max-width: 750px) {
    .home-page-container-1 h1
    {
        padding: 0em 1em 0em 1em;
    }
    .home-page-container-1 p
    {
        padding: 0 2em 0 2em;
    }
    .home-page-container-2 p
    {
        padding: 0 2em 0 2em;
    }
    .home-page-container-2 h1
    {
        padding: 0em 1em 0em 1em;
    }
}

/* ||||||||||||||||||||||||| */

.ChannelListContainer
{
    display: inline-flex;
    width: 18.5rem;
    background-color: #282b30;
}

.sidebar
{
    width: 25%;
    background-color: #1e2124;
    height: 100%;
}

/* home icon */
.sidebar_home-icon
{
    padding: 10px;
}

.sidebar_FriendRequestIcon-icon
{
    padding: 10px;
    margin: 0;
    height: 3em;
}

.red_circle
{
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 2em;
    top: -1em;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: hsl(0, 100%, 50%, 70%);
    text-align: center;

}

.sidebar_FriendRequestIcon-icon img
{
    max-width: 90%;
    height: auto;
} 

.home-icon_inner
{
    background-color: #424549;
    border-radius: 30px;
    transition: background-color 0.2s ease;
    transition: border-radius 0.2s ease;
}

.home-icon_inner:hover
{
    background-color: #FF8615;
    border-radius: 15px;
}
.home-icon_inner img 
{
    width: 100%;
    padding-top: 3px;
}

/* logout icon */
.sidebar_logout-icon
{
    padding: 10px;
}

.logout-icon_inner
{
    background-color: #424549;
    border-radius: 30px;
    transition: background-color 0.2s ease;
    transition: border-radius 0.2s ease;
}

.logout-icon_inner:hover
{
    background-color: #FF8615;
    border-radius: 15px;
}
.logout-icon_inner img 
{
    width: 75%;
    padding-top: 9px;
    padding-left: 9px;
}

/* Main app */

.MainApp
{
    height: 100vh;
    width: 100%;
    display: inline-flex;
}

/* friends list */

.friends_list
{
    width: 75%;
    overflow-y:scroll;
}

.friends_list_title
{
    text-align: center;
    padding: 1em;
    color: 	#a8aeb8;
}

.inline-flex{
    display: inline-flex;
}

.friends_elem
{
    margin: 0.3125em 0.9375em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.625em;
    height: 2em;
    width: auto;
    text-align: left;
    color: 	#a8aeb8;
    font-size: 1.1em;
    border-radius: 7px;
}

.friends_elem:hover
{
    background-color: #424549;
}

.chat_elem
{
    margin: 0;
    
    height: 2em;
    width: auto;
    text-align: left;
    color: 	#a8aeb8;
    font-size: 1.1em;
    border-radius: 7px;
    align-self: left;
    margin: 1em;
    margin: 0.3em;
}

.chat_elem:hover
{
    background-color: #424549;
}

.file_elem
{
    background-color: #1e2124;
    margin-left: 0.4em;
    padding: 1px;
    width: 100%;
    cursor: pointer;
}

.file_elem:hover
{
    text-decoration: underline;
}

.main_container
{
    width: 85%;
    background-color: rgb(158, 53, 53);
}


.message_text_input
{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* padding: 10px; */
    
    
}

.message_text_input form
{
    width: 100%;
    margin: 0%;
    padding: 0;
}

.message_text_input input
{
    width: 85%;
    background-color: #424549;
    border: none;
    height: 2em;
    color: #d9e0eb;
    padding-left: 1em;
}

.message_text_input button
{
    position: relative;
    left: -3rem;
    display: none;
}

#message_text_input-file
{
    border: 1px solid black;
    position: fixed;
    display: inline-flex;
    margin-left: auto;
    height: 1.75em;
    align-items: center;
    right: 0em;
    background-color: #d9e0eb;
    cursor: pointer;
}

#message_text_input-file:hover
{
    background-color: rgb(74, 235, 160);
}


.message_list
{
    height: 83vh;
    overflow:hidden; 
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    padding-left: 0.3em;
}

.add_friend_div
{
    background-color: rgba(55, 202, 116, 0.548);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin-left: 12.5%;
    margin-top: 7%;
    width: 75%;
    color: rgba(255, 255, 255, 0.726);
    transition: background-color 0.2s ease;
}

.add_friend_div:hover
{
    background-color: rgba(55, 202, 116);
    color: white;
}

.friendadd_container
{
    background-color: #36393e;
    width: 100%;
    height: 100vh;
}

.friendadd_container hr
{
    height: 1px;
    background-color: grey;
    border: none;
}

.friend_search input[type=text]
{
    background-color: #1e2124;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    width: 40em;
    height: 30px;
    color: white;
    text-align: left;
    padding-right: 150px;
}

.friend_search input[type=text]:focus
{
    border-radius: 5px;
    border-width: 2px;
    border-color: #FF8615;
    outline: none;
}

.friend_search button
{
    margin-left: -70px;
    background-color: rgba(55, 202, 116, 0.548);
    text-align: center;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.726);
}



.friend_header_container
{
    padding: 1em;
}

.friend_header_container
{
    color: #d9e0eb;
}

.friend_header_container h1
{
    margin-bottom: 0.5em;
    font-size: 19px;
}

.friend_container
{
    display: flex;
    flex-direction: row;
    padding: 1.5em;
}

.friend_container:hover
{
    background-color: #424549;
}

.friend_container_username
{
    padding-left: 1em;
    color: #a8aeb8;
    font-size: 16px;
    align-items: center;
    display: flex;
}

.friend_container_UFWTP
{
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.friendadd_list
{
    padding: 0;
    overflow-y: hidden;
    overflow-y: scroll;
    height: 70vh;
}

.friend_container hr
{
    margin-bottom: 30px;
    margin-top: 30px;
}

.friend_container button
{
    height: 3em;
    
    background-color: rgba(55, 202, 116, 0.548);
    text-align: center;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.726);
    transition: background-color 0.2s ease;
    cursor: pointer;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.friend_container button:hover
{
    background-color: rgba(55, 202, 116);
    color: white;
}

.friendrequest_container
{
    background-color: #36393e;
    height: 100vh;
}

.ConControls
{
    background-color: #36393e;
    margin-top: 0;
    padding: 10px;
    width: auto;
    overflow: hidden;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0em;
}

.main_uivideo_con
{
    background-color: #36393e;
    margin-top: 0;
    padding: 10px;
    width: auto;
    overflow: hidden;
    height: auto;
}

#ConControls-friendname
{
    
    font-size: xx-large;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9e0eb  ;
    font-weight: 300;
}

#ConControls-Call-icon
{
    margin-left: auto;
    cursor: pointer;
}

#ConControls-Call-icon img
{
    float: right;
    margin-right: 1rem;
    width: 3rem;
}

.video_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17em;
    justify-content: space-between;
}

.video-player
{
    background-color: black;
    width: 100%;
}

#user-1
{
    visibility: hidden;
    height: 0px;
    width: 100%;
}

#user-2
{
    visibility: hidden;
    height: 0px;
    width: 100%;
    float: right;
}

#uiNav
{
    width: 100%;
}

.control-container
{
   background-color: rgb(102, 153, 255, .8);
   margin: 10px;
   padding: 20px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.control-container img
{
    height: 30px;
    width: 30px;
}

#leave_btn
{
    background-color: rgb(255, 80, 80);
}

.visible 
{
    height: 100px;
    display: flex;
    justify-content: center;
}
  
.hidden *
{
    display: none;
}

#call_request
{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#call_request_controls
{
    display: flex;
    align-items: flex-end;
    float: right;
}

#call_request_text
{
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

input[type="file"]
{
    display: none;
}

/* ||||||||||||||||||||||||| */
/*      Register Page        */
/* ||||||||||||||||||||||||| */


#register-page
{
    /* background-color: aqua; */
    background: linear-gradient(-45deg,rgb(41, 129, 156), rgb(29, 28, 28));
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    animation: animate 20s linear infinite;
}

.island-container
{
    background: #282b30;
    width: 23em;
    height: 33em;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(11, 24, 20, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(11, 24, 20, 1);
    box-shadow: 0px 0px 10px 3px rgba(11, 24, 20, 1);
}

.island-container form
{
    display: block;
    text-align: center;
    margin-top: 2em;
    align-items: center;
}

.register-form-inpur-container
{
    margin: 0.7em 0px 2.75em 0px;
}

#register-form input
{
    border-width: 1.7px;
    background-color: #d9e0eb;
    border-radius: 6px;
    /* margin-top: 5px; */
    /* margin-bottom: 7px; */
    width: 85%;
    height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#register-form label
{
    /* margin-top: 15px; */
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#register-form button
{
    position: absolute;
    margin-top: 20px;
    width: 85%;
    height: 3em;
    margin: 1em;
    font-size: large;
    background-color: rgb(41, 129, 156);
    border: none;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.register-error-message
{
    position: absolute;
    color: rgb(255, 80, 80);
    font-size: 16px;
    margin: 3px;
    margin-left: 1.6em;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ||||||||||||||||||||||||| */
/*      Login Page        */
/* ||||||||||||||||||||||||| */

#login-page
{
    background: linear-gradient(-45deg,rgb(41, 129, 156), rgb(29, 28, 28));
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#login-form input
{
    border-width: 1.7px;
    background-color: #d9e0eb;
    border-radius: 6px;
    width: 85%;
    height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#login-form label
{
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#login-form button
{
    position: absolute;
    margin-top: 20px;
    width: 85%;
    height: 3em;
    margin: 1em;
    font-size: large;
    background-color: rgb(41, 129, 156);
    border: none;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form-input-container
{
    margin: 0.7em 0px 2.75em 0px;
}

.login-error-message
{
    position: relative;
    color: rgb(255, 80, 80);
    font-size: 22px;
    margin: 3px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#login-page-register-link
{
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    color: #d9e0eb;
}

#login-reg-link
{
    color: rgb(41, 129, 156);
}

/* FRIEND REQUEST CONTAINER */
.friendrequest_container h1
{
    margin: 0;
    padding: 1%;
}

.friend_request_list
{
    /* overflow: scroll; */
    overflow-y: scroll;
    height: 90%;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.friend_request_elem
{
    padding: 1em;
    display: flex;
    width: 95%;
    align-items: center;
    color: #a8aeb8;
    font-weight: 500;
}

.friend_request_elem:hover
{
    background-color: #424549;
}

.friend_request_elem_buttons
{
    margin-left: auto;
}

.friend_request_elem_buttons button
{
    margin-left: 6px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 2em;
    width: 5em;
    font-weight: 600;
}

#friend_request_acpt_button
{
    background-color: rgba(0, 255, 106, 0.548);
}

#friend_request_dec_button
{
    background-color: rgb(255, 80, 80);
}